.navbar-brand, .sidebar-sticky{
    background: #343a40;
    color: white;
}
.navbar-brand, .sidebar-sticky{
    box-shadow: none;
}
.navbar-brand svg {
    color: #0cc2aa;
    height: 24px;
    width: 24px;
    margin-left: -.15rem;
    margin-right: .375rem;
}
.page .navbar-brand{
    padding-left:0
}
.text-danger {
    color: #ff7676;
}
.text-white{color:#ffffff}.text-danger{color:#ff7676}.text-muted{color:#8d9ea7}
.text-warning{color:#ffc36d}
.text-success{color:#53e69d}
.text-info{color:#FCF883}.text-inverse{color:#4c5667}
.text-blue{color:#02bec9}.text-purple{color:#707cd2}
.text-primary{color:#707cd2}.text-megna{color:#01c0c8}
.text-dark{color:#313131!important}

.page [role="main"] {
    padding-top: 80px;
}
.select-audit .btn-group{
    margin: 0 10px 20px 0;
}

.select-audit{
    padding-bottom: 15px;
}
.audit-standard blockquote{
    border-left: 10px solid #27aae1;
    border-radius: 5px;
}
.audit-standard blockquote p{
    margin: 30px;
}
/*.main {
    width: 100%;
    min-height: 100vh;
    transition: all .4s ease-in-out;
}
.page .navbar{
    background: #2e3e4e;
    color: white;
}
.report .navbar{
    background: white;
    color: black;
}
.sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
}
.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto;
}
[role="main"], .page {
    padding-top: 67px;
}
.navbar-brand{
    padding: 1.15rem 0rem;
    min-width: 220px;
    max-width: 220px;
    background: #2e3e4e;
    color: white;
}
.sidebar-sticky{
    padding-top: 4.5rem
}
.page{
    width: 100%;
    margin: auto;
}
.page, .page .navbar .container{
    max-width: 900px;
}

.page .nav-link {
    color: #fff;
    background-color: #007bff;

}
.report .navbar-brand{
    padding: 1.15rem 1.5rem;
}
.nav-pills .nav-link {
    border-radius: 2rem;
    margin: 5px 0;
}
.bg-dark{
    background: #2e3e4e;
    color: white;
}
.progress {
    display: -ms-flexbox;
    display: flex;
    height: 1rem;
    overflow: hidden;
    font-size: .75rem;
    background-color: #e9ecef;
    border-radius: .25rem;
}
.progress-bar {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    background-color: #007bff;
    transition: width .6s ease;
}
.select-audit .badge{
    margin-left: 2px;
}
.sidebar, .sidebar-content {
    background: #354052;
}
.sidebar {
    min-width: 240px;
    max-width: 240px;
    transition: all .4s ease-in-out;
}
.content{
    background-color: #f5f9fc
}
*/
