.sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
}
.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto;
}
.navbar-brand svg {
    color: #0cc2aa;
    height: 24px;
    width: 24px;
    margin-left: -.15rem;
    margin-right: .375rem;
}
[role="main"], .signin {
    padding-top: 80px;
}
.navbar-brand{
    padding: 1.15rem 1.25rem;
    min-width: 220px;
    max-width: 220px;
}
.sidebar-sticky{
    padding-top: 4.5rem
}
.signin{
    width: 100%;
    margin: auto;
}
.signin, .signin .navbar .container{
    max-width: 900px;
}

.signin .nav-link {
    color: #fff;
    background-color: #007bff;

}
.nav-pills .nav-link {
    border-radius: 2rem;
    margin: 5px 0;
}
.bg-dark{
    background: #2e3e4e;
    color: white;
}
.progress {
    display: -ms-flexbox;
    display: flex;
    height: 1rem;
    overflow: hidden;
    font-size: .75rem;
    background-color: #e9ecef;
    border-radius: .25rem;
}
.progress-bar {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    background-color: #007bff;
    transition: width .6s ease;
}
