<footer class="bd-footer text-muted">
  <div class="container-fluid p-3 p-md-5">
    <div class="col-6 text-right">
					<p class="mb-0">
						© 2019 - <a href="{{ site.baseurl }}/index" class="text-muted">ENACT</a>
					</p>
				</div>
    <ul class="bd-footer-links">
      <li><a href="#"><img title="Logo of Leeds University" class="mb-4" src="{{ site.baseurl }}/images/leeds-logo.png" alt="" height="36"></a></li>
      <li><a href="#"><img class="mb-4" title="Logo of City, University of London" src="{{ site.baseurl }}/images/city-logo.png" alt="" height="36"></a></li>
      <li><a href="#"><a class="text-muted" href="#"><img class="mb-4" title="NIHR, England" src="{{ site.baseurl }}/images/nihr-logo.png" alt="" height="36"></a></li>
      <li><a href="#">Help documentation</a></li>
    </ul>
    <p>Designed and built using Bootstrap by City University of London an University of Leeds Research Team.</p>
    <p>Ethics approval code <a href="#" target="_blank" rel="license noopener">[xxxxxx]</a>.</p>
  </div>
</footer>

