<div class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
	<div class="container">
		<a class="navbar-brand col-sm-3 col-md-2 mr-0 transition" href="{{ site.baseurl }}/index.html">{% include logo.html %}ENACT</a>
		<!--<span id="audit-name" class="w-100">National Diabetes Audit</span>-->
	</div>
	<div class="progress">
  		<div class="progress-bar bg-success" role="progressbar" style="{{ include.progress }}" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
	</div>
</div>
	 
