<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="ENACT">
	<meta name="author" content="Ana Weller">
	<link rel="icon" type="image/png" sizes="16x16" href="{{ site.baseurl }}/images/favicon.ico">

	<title>ENACT Wireframe</title>

	<link href="{{ site.baseurl }}/css/app.css" rel="stylesheet">

</head>

<body>
	<div class="wrapper">
		<nav class="sidebar">
			<div class="sidebar-content">
				<a class="sidebar-brand" href="index.html">
          				{% include logo.html %}<span class="align-middle">ENACT</span>
				</a>
				<ul class="sidebar-nav">
					<li class="sidebar-header">
					Main
					</li>
					<li class="sidebar-item active">
						<a href="index.html" class="sidebar-link">
							<i class="align-middle" data-feather="sliders"></i> <span class="align-middle">Side nav</span>
							<span class="sidebar-badge badge badge-primary">6</span>
						</a>
					</li>
				</ul>
				<div class="sidebar-bottom d-none d-lg-block">
					<div class="media">
						<!--<img class="rounded-circle mr-3" src="images/avatar.jpg" alt="Chris Wood" width="40" height="40">
						<div class="media-body">
							<h5 class="mb-1 text-white">Chris Wood</h5>
							<div class="text-light">
								<i class="fas fa-circle text-success"></i> Online
							</div>
						</div>-->
					</div>
				</div>

			</div>
		</nav>

		<div class="main">
			<nav class="navbar navbar-expand navbar-light bg-white">
				<h4>National Diabetes Audit</h4>
			</nav>
			
			<main class="content">
				{{ content }}
			</main>

			<footer class="footer">
				<div class="container-fluid">
					<div class="row text-muted">
						<div class="col-6 text-left">
							<ul class="list-inline">
								<li class="list-inline-item">
									<a class="text-muted" href="#">link</a>
								</li>
								<li class="list-inline-item">
									<a class="text-muted" href="#">Link</a>
								</li>
								<li class="list-inline-item">
									<a class="text-muted" href="#">Link</a>
								</li>
								<li class="list-inline-item">
									<a class="text-muted" href="#">Link</a>
								</li>
							</ul>
						</div>
						<div class="col-6 text-right">
							<p class="mb-0">
								&copy; 2018 - <a href="index.html" class="text-muted">AppStack</a>
							</p>
						</div>
					</div>
				</div>
			</footer>
		</div>
	</div>

	<script src="js/app.js"></script>

	<script src="{{ site.baseurl }}/js/charts.js"></script>
	<script src="{{ site.baseurl }}/js/forms.js"></script>
	<script src="{{ site.baseurl }}/js/maps.js"></script>
	<script src="{{ site.baseurl }}/js/tables.js"></script>
</body>

</html>
