<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="ENACT">
	<meta name="author" content="Ana Weller">
	<link rel="icon" type="image/png" sizes="16x16" href="{{ site.baseurl }}/images/favicon.ico">

	<title>ENACT Wireframe</title>
	<link href="{{ site.baseurl }}/css/bootstrap.css" rel="stylesheet">
	<link href="{{ site.baseurl }}/css/bootstrap-grid.css" rel="stylesheet">
	<link href="{{ site.baseurl }}/css/app.css" rel="stylesheet">
	<script type="text/javascript" src="{{ site.baseurl }}/js/jquery-3.3.1.min.js"></script>

</head>
{{ content }}
	<script type="text/javascript">
	$(document).ready(function() {
	$("body").css("display", "none");
	});
	</script>

</html>
