<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="ENACT">
	<meta name="author" content="Ana Weller">
	<link rel="icon" type="image/png" sizes="16x16" href="{{ site.baseurl }}/images/favicon.ico">

	<title>ENACT Wireframe</title>

	<link href="{{ site.baseurl }}/css/app.css" rel="stylesheet">
	<link href="{{ site.baseurl }}/css/enact.css" rel="stylesheet">

</head>
<body>
	<nav class="navbar fixed-top flex-md-nowrap p-0 shadow">
		<a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">{% include logo.html %}ENACT</a>
		<h4>National Diabetes Audit</h4>
	</nav>
	{{ content }}
</body>

</html>
